Repository sorryhyun/DiPeO: changes, and which pre-commit hooks are due for each by the changed paths.
All: pnpm-lint, domain-model-codegen

pnpm-lint:
  name: pnpm lint
  entry: pnpm run lint
  language: system
  pass_filenames: false

domain-model-codegen:
  name: Generate code from domain models
  entry: bash -c 'cd packages/domain-models && pnpm build'
  language: system
  pass_filenames: false
  stages:
  - commit

LLM architecture refactoring
  apps/server/src/dipeo_server/api/graphql/types.py
  apps/server/src/dipeo_server/infra/external/llm/services.py
  apps/web/src/core/config/panelConfigs/person.ts
  packages/domain-models/scripts/generate-cli.ts
  packages/domain-models/src/diagram.ts
  packages/python/dipeo_core/src/dipeo_core/base/protocols.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/domain_service.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/conversation_adapter.py
Due: pnpm-lint, domain-model-codegen

LLM architecture refactoring
  apps/cli/src/dipeo_cli/env_api_key_service.py
  apps/cli/src/dipeo_cli/graphql/operations.graphql
  apps/server/src/dipeo_server/api/graphql/mutations/person_mutation.py
  apps/server/src/dipeo_server/api/graphql/resolvers/person.py
  apps/server/src/dipeo_server/api/graphql/types.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/claude.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/gemini.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/grok.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/openai.py
  apps/server/src/dipeo_server/infra/external/llm/services.py
  apps/web/src/core/config/panelConfigs/person.ts
  apps/web/src/core/store/helpers/importExportHelpers.ts
  apps/web/src/features/conversation/components/ConversationDashboard/ConversationDashboard.tsx
  apps/web/src/features/conversation/hooks/useConversationData.ts
  apps/web/src/features/diagram-editor/components/nodes/PersonNode.tsx
  apps/web/src/features/diagram-editor/types/panel.ts
  apps/web/src/features/execution-monitor/hooks/useExecutionOrder.ts
  apps/web/src/features/person-management/hooks/usePersonOperations.ts
  apps/web/src/features/person-management/store/index.ts
  apps/web/src/features/person-management/store/personSlice.ts
  apps/web/src/features/properties-editor/components/renderers/GenericPropertyPanel.tsx
  apps/web/src/graphql/queries/diagrams.graphql
  apps/web/src/graphql/queries/persons.graphql
  apps/web/src/shared/hooks/selectors/usePersonsData.ts
  packages/domain-models/scripts/generate-dto.ts
  packages/domain-models/scripts/generate-python.ts
  packages/domain-models/src/conversation.ts
  packages/python/dipeo_application/src/dipeo_application/context.py
  packages/python/dipeo_core/src/dipeo_core/base/__init__.py
  packages/python/dipeo_core/src/dipeo_core/base/protocols.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/domain_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/models.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/server_execution_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/service_registry.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/conversation_adapter.py
  packages/python/dipeo_infra/src/dipeo_infra/persistence/memory/memory_service.py
Due: pnpm-lint, domain-model-codegen

LLM architecture refactoring
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
Due: none

LLM architecture refactoring
  apps/server/config.py
  apps/server/main.py
  apps/server/src/dipeo_server/application/container.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/claude.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/gemini.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/grok.py
  apps/server/src/dipeo_server/infra/external/llm/adapters/openai.py
  apps/server/src/dipeo_server/infra/external/llm/base.py
  apps/server/src/dipeo_server/infra/external/llm/services.py
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
  packages/python/dipeo_application/src/dipeo_application/handlers/db.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_batch_job.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_container/src/dipeo_container/container.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/domain_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/models.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/simple_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/db/domain_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/service_registry.py
  packages/python/dipeo_domain/src/dipeo_domain/utils/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/utils/judge_helper.py
Due: none

LLM architecture refactoring
  packages/python/dipeo_application/src/dipeo_application/use_cases/__init__.py
  packages/python/dipeo_application/src/dipeo_application/use_cases/create_diagram.py
  packages/python/dipeo_application/src/dipeo_application/use_cases/execute_diagram.py
  packages/python/dipeo_application/src/dipeo_application/use_cases/manage_person.py
  packages/python/dipeo_application/src/dipeo_application/use_cases/monitor_execution.py
  packages/python/dipeo_container/src/dipeo_container/container.py
  packages/python/dipeo_core/src/dipeo_core/context.py
  packages/python/dipeo_core/src/dipeo_core/execution/executor.py
  packages/python/dipeo_core/src/dipeo_core/execution/extended.py
  packages/python/dipeo_core/src/dipeo_core/execution/handlers.py
  packages/python/dipeo_core/src/dipeo_core/execution/types.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/apikey/service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/simple_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/db/domain_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/diagram/services/storage_service.py
Due: none

LLM architecture refactoring
  apps/cli/src/dipeo_cli/graphql/operations.graphql
  apps/cli/src/dipeo_cli/runners/server_runner.py
  apps/server/src/dipeo_server/api/graphql/subscriptions.py
  apps/server/src/dipeo_server/api/graphql/types.py
  apps/server/src/dipeo_server/application/__init__.py
  apps/server/src/dipeo_server/application/execution_context.py
  apps/web/src/features/diagram-editor/adapters/DiagramAdapter.ts
  apps/web/src/features/diagram-editor/hooks/useDiagramLoader.ts
  apps/web/src/features/diagram-editor/store/diagramSlice.ts
  apps/web/src/features/diagram-editor/utils/arrowMigration.ts
  apps/web/src/features/properties-editor/hooks/usePropertyManager.ts
  apps/web/src/graphql/queries/diagrams.graphql
  packages/domain-models/src/diagram.ts
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
  packages/python/dipeo_application/src/dipeo_application/handlers/endpoint.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
Due: pnpm-lint, domain-model-codegen

LLM architecture refactoring
  apps/web/src/graphql/types/graphql-mappings.ts
  packages/domain-models/scripts/generate-conversions.ts
  packages/domain-models/scripts/generate-dto.ts
  packages/domain-models/scripts/generate-python.ts
  packages/domain-models/src/conversation.ts
  packages/domain-models/src/conversions.ts
  packages/domain-models/src/diagram.ts
  packages/domain-models/src/execution.ts
  packages/domain-models/src/graphql-conversions.ts
  packages/domain-models/src/index.ts
  packages/domain-models/src/integration.ts
  packages/python/dipeo_diagram/src/dipeo_diagram/shared_components.py
Due: pnpm-lint, domain-model-codegen

for beta v3 release
  apps/cli/src/dipeo_cli/execution_handler.py
  apps/cli/src/dipeo_cli/stats.py
  apps/cli/src/dipeo_cli/utils.py
  apps/web/src/features/diagram-editor/hooks/useDiagramLoader.ts
  apps/web/src/graphql/types/graphql-mappings.ts
  apps/web/src/graphql/types/index.ts
  packages/domain-models/package.json
  packages/domain-models/scripts/generate-cli.ts
  packages/domain-models/src/graphql-conversions.ts
  packages/python/dipeo_application/src/dipeo_application/service_registry.py
  packages/python/dipeo_container/src/dipeo_container/app_context_adapter.py
  packages/python/dipeo_diagram/src/dipeo_diagram/conversion_utils.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
Due: pnpm-lint, domain-model-codegen

for beta v3 release
  apps/server/src/dipeo_server/api/graphql/mutations/upload_mutation.py
  apps/server/src/dipeo_server/api/graphql/queries.py
  apps/server/src/dipeo_server/api/graphql/resolvers/diagram.py
  apps/server/src/dipeo_server/api/graphql/subscriptions.py
  apps/server/src/dipeo_server/infra/persistence/state_registry.py
  apps/server/src/dipeo_server/shared/constants.py
  apps/web/codegen.yml
  apps/web/src/features/diagram-editor/store/diagramSlice.ts
  packages/python/dipeo_application/src/dipeo_application/dto/base.py
  packages/python/dipeo_application/src/dipeo_application/dto/response_dto.py
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/service_registry.py
  packages/python/dipeo_application/src/dipeo_application/services/minimal_message_router.py
  packages/python/dipeo_application/src/dipeo_application/services/minimal_state_store.py
Due: pnpm-lint

for beta v3 release
  apps/web/src/core/config/unifiedConfig.ts
  apps/web/src/core/store/slices/uiSlice.ts
  apps/web/src/core/types/core.ts
  apps/web/src/features/conversation/components/ConversationDashboard/ConversationDashboard.tsx
  apps/web/src/features/diagram-editor/adapters/DiagramAdapter.ts
  apps/web/src/features/diagram-editor/components/CustomArrow.tsx
  apps/web/src/features/diagram-editor/hooks/operations/useArrowOperations.ts
  apps/web/src/features/diagram-editor/hooks/operations/useNodeOperations.ts
  apps/web/src/features/diagram-editor/hooks/operations/usePersonOperations.ts
  apps/web/src/features/diagram-editor/hooks/ui/useCanvas.ts
  apps/web/src/features/diagram-editor/hooks/ui/useCanvasInteractions.ts
  apps/web/src/features/diagram-editor/hooks/useDiagramLoader.ts
  apps/web/src/features/diagram-editor/store/diagramSlice.ts
  apps/web/src/features/execution-monitor/components/ExecutionControls.tsx
  apps/web/src/features/execution-monitor/hooks/useExecution.ts
  apps/web/src/features/person-management/store/personSlice.ts
  apps/web/src/features/properties-editor/components/PropertiesPanel/PropertiesPanel.tsx
  apps/web/src/features/properties-editor/components/PropertiesPanel/index.ts
  apps/web/src/features/properties-editor/components/PropertiesTab.tsx
  apps/web/src/features/properties-editor/components/PropertyPanel.tsx
  apps/web/src/features/properties-editor/components/index.ts
  apps/web/src/features/properties-editor/components/renderers/PropertiesRenderer.tsx
  apps/web/src/features/properties-editor/components/renderers/index.ts
  apps/web/src/features/properties-editor/index.ts
  apps/web/src/graphql/types/graphql-mappings.ts
  apps/web/src/graphql/types/index.ts
  apps/web/src/shared/components/layout/Sidebar.tsx
  apps/web/src/shared/utils/diagramSerializer.ts
  packages/domain-models/scripts/generate-python.ts
  packages/domain-models/src/graphql-conversions.ts
Due: pnpm-lint, domain-model-codegen

for beta v3 release
  Makefile
  apps/server/src/dipeo_server/api/graphql/mutations/api_key_mutation.py
  apps/server/src/dipeo_server/api/graphql/mutations/graph_element_mutations.py
  apps/server/src/dipeo_server/api/graphql/mutations/node_mutation.py
  apps/server/src/dipeo_server/api/graphql/mutations/person_mutation.py
  apps/server/src/dipeo_server/api/graphql/mutations/upload_mutation.py
  apps/web/src/core/config/nodeConfigs/personJob.ts
  apps/web/src/features/diagram-editor/components/nodes/BaseNode.tsx
  packages/domain-models/package.json
  packages/domain-models/scripts/generate-dto.ts
  packages/domain-models/scripts/generate-graphql.ts
  packages/domain-models/scripts/generate-python.ts
  packages/python/dipeo_application/src/dipeo_application/dto/__init__.py
  packages/python/dipeo_application/src/dipeo_application/dto/base.py
  packages/python/dipeo_application/src/dipeo_application/dto/diagram_dto.py
  packages/python/dipeo_application/src/dipeo_application/dto/execution_dto.py
  packages/python/dipeo_application/src/dipeo_application/dto/person_dto.py
  packages/python/dipeo_application/src/dipeo_application/dto/response_dto.py
  packages/python/dipeo_diagram/src/dipeo_diagram/conversion_utils.py
  packages/python/dipeo_diagram/src/dipeo_diagram/shared_components.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
Due: pnpm-lint

for beta v3 release
  apps/server/src/dipeo_server/api/graphql/resolvers/diagram.py
  docs/codegen.md
  packages/python/dipeo_diagram/src/dipeo_diagram/__init__.py
  packages/python/dipeo_diagram/src/dipeo_diagram/conversion_utils.py
  packages/python/dipeo_diagram/src/dipeo_diagram/light_strategy.py
  packages/python/dipeo_diagram/src/dipeo_diagram/native_strategy.py
  packages/python/dipeo_diagram/src/dipeo_diagram/readable_strategy.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
Due: none

for beta v3 release
  apps/server/src/dipeo_server/api/graphql/mutations/execution_mutation.py
  apps/web/src/core/config/panelConfigs/arrow.ts
  apps/web/src/features/diagram-editor/components/CustomArrow.tsx
  apps/web/src/features/execution-monitor/hooks/useExecution.ts
  apps/web/src/features/execution-monitor/hooks/useExecutionUpdates.ts
  apps/web/src/features/properties-editor/components/PropertiesTab.tsx
  apps/web/src/graphql/types/graphql-mappings.ts
  apps/web/src/shared/components/layout/Sidebar.tsx
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_batch_job.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_diagram/src/dipeo_diagram/shared_components.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/simple_service.py
  packages/python/dipeo_domain/src/dipeo_domain/utils/judge_helper.py
Due: pnpm-lint

for beta v3 release
  apps/server/src/dipeo_server/api/graphql/subscriptions.py
  apps/server/src/dipeo_server/application/container.py
  apps/server/tests/test_protocol_compliance.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_application/src/dipeo_application/utils/__init__.py
  packages/python/dipeo_application/src/dipeo_application/utils/template.py
  packages/python/dipeo_container/src/dipeo_container/container.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/aggregation_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/simple_service.py
Due: none

for beta v3 release
  apps/cli/src/dipeo_cli/execution_handler.py
  apps/cli/src/dipeo_cli/runners/server_runner.py
  apps/cli/src/dipeo_cli/server_manager.py
  apps/server/main.py
  apps/server/src/dipeo_server/infra/persistence/state_registry.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_diagram/src/dipeo_diagram/light_strategy.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/simple_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/observers.py
Due: none

for beta v3 release
  apps/cli/src/dipeo_cli/runners/server_runner.py
  docs/how_to_write_diagram.md
  docs/korean_how_to_write_diagram.md
Due: none

Update README.md
  README.md
Due: none

for beta v3 release
  Makefile
  apps/server/pyproject.toml
  packages/python/dipeo_application/src/dipeo_application/handlers/__init__.py
  packages/python/dipeo_container/pyproject.toml
Due: none

for beta v3 release
  packages/python/dipeo_application/src/dipeo_application/handlers/job.py
  vercel.json
Due: none

Fix Vercel deployment by handling GraphQL schema path
  apps/web/scripts/pre-build.sh
  vercel.json
Due: none

Fix Vercel deployment with dedicated codegen config
  apps/web/codegen.vercel.yml
  apps/web/scripts/pre-build.sh
  vercel.json
Due: none

for beta v3 release
  apps/web/codegen.vercel.yml
Due: none

for beta v3 release
  .gitignore
  apps/server/schema.graphql
Due: none

for beta v3 release
  .github/workflows/build-windows.yml
Due: none

for beta v3 release
  apps/cli/pyproject.toml
  build-all.sh
  packages/domain-models/src/diagram.ts
  packages/domain-models/src/integration.ts
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/adapters/openai.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/base.py
Due: pnpm-lint, domain-model-codegen

for beta v4 release
  apps/cli/src/dipeo_cli/__main__.py
  apps/cli/src/dipeo_cli/hooks.py
  apps/cli/src/dipeo_cli/runners/local_runner.py
  apps/cli/tests/test_hooks.py
  apps/server/schema.graphql
  apps/server/src/dipeo_server/api/graphql/resolvers/person.py
  apps/web/src/core/config/nodeConfigs/db.ts
  apps/web/src/core/config/nodeConfigs/endpoint.ts
  apps/web/src/core/config/nodeConfigs/hook.ts
  apps/web/src/core/config/nodeConfigs/index.ts
  apps/web/src/core/config/nodeConfigs/personJob.ts
  apps/web/src/core/config/panelConfigs/person.ts
  apps/web/src/core/store/helpers/importExportHelpers.ts
  apps/web/src/core/types/core.ts
  apps/web/src/features/diagram-editor/adapters/DiagramAdapter.ts
  apps/web/src/features/diagram-editor/components/DiagramCanvas.tsx
  apps/web/src/features/diagram-editor/types/panel.ts
  apps/web/src/features/properties-editor/components/PropertyPanel.tsx
  apps/web/src/shared/components/layout/Sidebar.tsx
  apps/web/src/shared/components/modals/ApiKeysModal/ApiKeysModal.tsx
  apps/web/src/shared/hooks/useApiKeyOperations.ts
  apps/web/src/shared/utils/diagramSerializer.ts
  packages/domain-models/src/diagram.ts
  packages/domain-models/src/graphql-conversions.ts
  packages/domain-models/src/integration.ts
  packages/python/dipeo_application/src/dipeo_application/execution.py
  packages/python/dipeo_application/src/dipeo_application/handlers/__init__.py
  packages/python/dipeo_application/src/dipeo_application/handlers/hook.py
  packages/python/dipeo_application/src/dipeo_application/handlers/start.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/db/domain_service.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/adapters/gemini.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/adapters/openai.py
Due: pnpm-lint, domain-model-codegen

for beta v4 release
  .github/workflows/ci.yml
Due: none

for beta v4 release
  .github/workflows/build-windows.yml
  .github/workflows/test-windows.yml
  apps/web/src/core/config/nodeConfigs/index.ts
  apps/web/src/core/config/nodeConfigs/personJob.ts
  apps/web/src/core/config/nodeMeta.ts
  apps/web/src/features/diagram-editor/types/panel.ts
Due: pnpm-lint

for beta v4 release
  packages/domain-models/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

for beta v4 release
  .github/workflows/ci.yml
  .npmrc
  pnpm-lock.yaml
Due: none

for beta v4 release
  .github/workflows/build-windows.yml
  .github/workflows/test-windows.yml
  .gitignore
Due: none

for beta v4 release
  .gitignore
  apps/desktop/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm-lint: any of: \.(ts|tsx|js|jsx)$
  domain-model-codegen: any of: ^packages/domain-models/src/.*\.ts$
