Repository sorryhyun/DiPeO: changes, and which pre-commit hooks are due for each by the changed paths.
All: pnpm-lint, domain-model-codegen

pnpm-lint:
  name: pnpm lint
  entry: pnpm run lint
  language: system
  pass_filenames: false

domain-model-codegen:
  name: Generate code from domain models
  entry: bash -c 'cd packages/domain-models && pnpm build'
  language: system
  pass_filenames: false
  stages:
  - commit

for beta v4 release
  .github/workflows/build-windows.yml
  .github/workflows/test-windows.yml
  docs/WINDOWS_INSTALLATION.md
Due: none

for beta v4 release
  .github/workflows/build-windows.yml
  .github/workflows/test-windows.yml
  Makefile
  apps/web/tsconfig.json
Due: none

for beta v4 release
  .github/workflows/build-windows.yml
  .github/workflows/test-windows.yml
  apps/web/src/core/config/nodeConfigs/factory.ts
  scripts/README.md
  scripts/build-windows.bat
Due: pnpm-lint

Update README.md
  README.md
Due: none

for beta v4 release
  apps/server/schema.graphql
  apps/server/src/dipeo_server/api/graphql/resolvers/diagram.py
  apps/web/codegen.yml
  apps/web/src/core/config/nodeConfigs/factory.ts
  apps/web/src/core/types/branded.ts
  apps/web/src/features/diagram-editor/adapters/DiagramAdapter.ts
  apps/web/src/features/diagram-editor/components/controls/FlowHandle.tsx
  apps/web/src/features/diagram-editor/components/nodes/BaseNode.tsx
  apps/web/src/features/diagram-editor/components/nodes/PersonNode.tsx
  apps/web/src/features/diagram-editor/hooks/ui/useCanvas.ts
  apps/web/src/features/diagram-editor/hooks/useDiagramLoader.ts
  apps/web/src/features/diagram-editor/store/diagramSlice.ts
  apps/web/src/graphql/types/graphql-mappings.ts
  apps/web/src/shared/utils/diagramSerializer.ts
  packages/domain-models/src/conversions.ts
  packages/domain-models/src/diagram.ts
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
  packages/python/dipeo_diagram/src/dipeo_diagram/shared_components.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies/light_strategy.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies/readable_strategy.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/diagram/services/storage_service.py
  packages/python/dipeo_domain/src/dipeo_domain/handle_utils.py
  packages/python/dipeo_infra/src/dipeo_infra/external/apikey/environment_adapter.py
  packages/python/dipeo_infra/src/dipeo_infra/persistence/file/modular_file_service.py
Due: pnpm-lint, domain-model-codegen

for beta v4 release
  apps/cli/src/dipeo_cli/api_client.py
  apps/cli/src/dipeo_cli/convert.py
  apps/web/src/core/config/nodeConfigs/factory.ts
  apps/web/src/features/diagram-editor/components/CustomArrow.tsx
  apps/web/src/features/diagram-editor/components/nodes/BaseNode.tsx
  apps/web/src/features/diagram-editor/store/diagramSlice.ts
  docs/codegen.md
  docs/diagram_formats.md
  docs/korean_install_guide.md
  docs/types.md
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies/light_strategy.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
Due: pnpm-lint

for beta v4 release
  apps/cli/src/dipeo_cli/execution_handler.py
  apps/cli/src/dipeo_cli/local_context.py
  packages/python/dipeo_application/src/dipeo_application/handlers/person_job.py
  packages/python/dipeo_application/src/dipeo_application/utils/conversation_utils.py
  packages/python/dipeo_container/src/dipeo_container/container.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/conversation/simple_service.py
  packages/python/dipeo_infra/src/dipeo_infra/__init__.py
  packages/python/dipeo_infra/src/dipeo_infra/external/__init__.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/__init__.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/conversation_adapter.py
Due: none

for beta v4 release
  apps/cli/src/dipeo_cli/local_context.py
  apps/cli/src/dipeo_cli/runners/local_runner.py
  apps/server/src/dipeo_server/application/execution_context.py
  apps/web/src/core/config/nodeConfigs/factory.ts
  apps/web/src/core/config/unifiedConfig.ts
  apps/web/src/features/conversation/hooks/useConversationData.ts
  apps/web/src/features/diagram-editor/components/DiagramCanvas.tsx
  apps/web/src/features/diagram-editor/components/nodes/withRightClickDrag.tsx
  apps/web/src/features/diagram-editor/utils/handleIndex.ts
  apps/web/src/features/execution-monitor/store/executionSlice.ts
  apps/web/src/features/person-management/hooks/factories/storeOpFactory.ts
  apps/web/src/graphql/hooks/cacheStrategies.ts
  apps/web/src/shared/utils/diagramSerializer.ts
  conversation_analysis.md
  packages/domain-models/scripts/generate-python.ts
  packages/domain-models/src/execution.ts
  packages/domain-models/src/graphql-conversions.ts
  packages/python/dipeo_application/src/dipeo_application/__init__.py
  packages/python/dipeo_application/src/dipeo_application/engine_factory.py
  packages/python/dipeo_application/src/dipeo_application/execution.py
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_flow_controller.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
  packages/python/dipeo_application/src/dipeo_application/input_resolution.py
  packages/python/dipeo_application/src/dipeo_application/observers.py
  packages/python/dipeo_application/src/dipeo_application/service_registry.py
  packages/python/dipeo_application/src/dipeo_application/unified_execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/unified_service_registry.py
  packages/python/dipeo_core/src/dipeo_core/__init__.py
  packages/python/dipeo_core/src/dipeo_core/utils/dynamic_registry.py
  packages/python/dipeo_diagram/src/dipeo_diagram/strategies/light_strategy.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/observers.py
  packages/python/dipeo_infra/src/dipeo_infra/external/llm/adapters/openai.py
Due: pnpm-lint, domain-model-codegen

for beta v4 release
  apps/cli/src/dipeo_cli/execution_handler.py
  apps/cli/src/dipeo_cli/hooks.py
  apps/cli/src/dipeo_cli/logging_config.py
  apps/cli/src/dipeo_cli/runners/server_runner.py
  apps/server/src/dipeo_server/api/graphql/mutations/execution_mutation.py
  apps/server/src/dipeo_server/application/container.py
  apps/web/src/core/config/nodeConfigs/factory.ts
  apps/web/src/core/config/nodeConfigs/index.ts
  apps/web/src/features/conversation/hooks/useConversationData.ts
  apps/web/src/graphql/hooks/cacheStrategies.ts
  packages/python/dipeo_application/src/dipeo_application/__init__.py
  packages/python/dipeo_application/src/dipeo_application/engine_factory.py
  packages/python/dipeo_application/src/dipeo_application/execution_controller.py
  packages/python/dipeo_application/src/dipeo_application/execution_engine.py
  packages/python/dipeo_application/src/dipeo_application/execution_view.py
  packages/python/dipeo_application/src/dipeo_application/handlers/condition.py
  packages/python/dipeo_container/src/dipeo_container/container.py
  packages/python/dipeo_diagram/src/dipeo_diagram/unified_converter.py
  packages/python/dipeo_domain/src/dipeo_domain/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/diagram/services/storage_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/processors/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/processors/output_processor.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/__init__.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/server_execution_service.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/service_registry.py
  packages/python/dipeo_domain/src/dipeo_domain/domains/execution/services/token_usage_service.py
  packages/python/dipeo_domain/src/dipeo_domain/handle_utils.py
  packages/python/dipeo_infra/src/dipeo_infra/messaging/websocket_router.py
  scripts/check_node_type_literals.py
Due: pnpm-lint

beta v4
  apps/server/schema.graphql
  apps/server/src/dipeo_server/application/app_context.py
  apps/server/src/dipeo_server/application/container.py
  dipeo/application/handlers/person_job.py
  dipeo/application/services/minimal_message_router.py
  dipeo/container/container.py
  dipeo/domain/backup_20250707_115050/conversions.py
  dipeo/domain/backup_20250707_115050/handle_utils.py
  dipeo/domain/backup_20250707_115050/models.py
  dipeo/domain/domains/condition/__init__.py
  dipeo/domain/domains/condition/evaluation_service.py
  dipeo/domain/domains/conversation/__init__.py
  dipeo/domain/domains/conversation/conversation_analysis_service.py
  dipeo/domain/domains/conversation/message_builder_service.py
  dipeo/domain/domains/person_job/__init__.py
  dipeo/domain/domains/person_job/conversation_processor.py
  dipeo/domain/domains/person_job/execution_service.py
  dipeo/domain/domains/person_job/output_builder.py
  dipeo/domain/domains/person_job/prompt_service.py
  dipeo/domain/domains/text/__init__.py
  dipeo/domain/domains/text/template_service.py
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check_node_type_literals.py
Due: none

Fix person nodes not executing after DB node
  dipeo/domain/services/execution/execution_flow_service.py
Due: none

Fix import error in ExecutionFlowService
  dipeo/domain/services/execution/execution_flow_service.py
Due: none

Refactor: Address TODO items for cleaner architecture
  apps/cli/src/dipeo_cli/local_context.py
  dipeo/application/engine/execution_engine.py
  dipeo/application/engine/execution_view.py
  dipeo/application/handlers/person_job.py
  dipeo/container/container.py
  dipeo/diagram/unified_converter.py
  dipeo/domain/services/arrow/__init__.py
  dipeo/domain/services/arrow/arrow_processor.py
  dipeo/domain/services/arrow/memory_transformer.py
  dipeo/domain/services/arrow/transformation_strategies.py
  dipeo/domain/services/conversation/simple_service.py
  dipeo/domain/services/execution/execution_flow_service.py
  dipeo/domain/services/execution/input_resolution_service.py
  dipeo/domain/services/person_job/__init__.py
  dipeo/domain/services/person_job/conversation_processor.py
  dipeo/domain/services/person_job/execution_service.py
  dipeo/domain/services/person_job/output_builder.py
  dipeo/domain/services/person_job/person_config.py
  dipeo/infra/__init__.py
  dipeo/infra/adapters/apikey/__init__.py
  dipeo/infra/adapters/apikey/environment_adapter.py
  dipeo/infra/adapters/llm/adapters/openai.py
  dipeo/infra/adapters/notion/__init__.py
  dipeo/infra/adapters/notion/service.py
  dipeo/infra/external/__init__.py
  dipeo/infra/persistence/memory/memory_service.py
  dipeo/models/__init__.py
Due: none

beta v4
  apps/server/src/dipeo_server/api/graphql/context.py
  apps/server/src/dipeo_server/application/__init__.py
  apps/server/src/dipeo_server/application/container.py
  apps/server/src/dipeo_server/application/execution_context.py
  apps/web/src/features/execution-monitor/hooks/useExecutionOrder.ts
  dipeo/README.md
  dipeo/__init__.py
  dipeo/application/__init__.py
  dipeo/application/compatibility/__init__.py
  dipeo/application/compatibility/unified_context.py
  dipeo/application/context/application_execution_context.py
  dipeo/application/engine/execution_engine.py
  dipeo/application/handlers/api_job.py
  dipeo/application/handlers/code_job.py
  dipeo/application/handlers/condition.py
  dipeo/application/handlers/db.py
  dipeo/application/handlers/endpoint.py
  dipeo/application/handlers/hook.py
  dipeo/application/handlers/job.py
  dipeo/application/handlers/notion.py
  dipeo/application/handlers/person_batch_job.py
  dipeo/application/handlers/person_job.py
  dipeo/application/handlers/start.py
  dipeo/application/handlers/user_response.py
  dipeo/application/services/minimal_state_store.py
  dipeo/application/unified_service_registry.py
  dipeo/container/adapters/app_context_adapter.py
  dipeo/container/container.py
  dipeo/core/__init__.py
  dipeo/core/base/protocols.py
  dipeo/core/execution/types.py
  dipeo/diagram/graph_utils.py
  dipeo/domain/services/conversation/simple_service.py
  dipeo/domain/services/person_job/conversation_processor.py
  dipeo/domain/services/ports/execution_context.py
  dipeo/infra/__init__.py
  dipeo/infra/persistence/__init__.py
  dipeo/infra/persistence/memory/__init__.py
  dipeo/infra/persistence/memory/conversation_store.py
Due: pnpm-lint

beta v4
  apps/web/src/core/config/featureFlags.ts
  apps/web/src/core/config/field-registry.ts
  apps/web/src/core/config/helpers.ts
  apps/web/src/core/config/index.ts
  apps/web/src/core/config/node-registry.ts
  apps/web/src/core/config/nodeConfigs/index.ts
  apps/web/src/core/config/panelConfigs/api-job.ts
  apps/web/src/core/config/panelConfigs/arrow.ts
  apps/web/src/core/config/panelConfigs/code-job.ts
  apps/web/src/core/config/panelConfigs/condition.ts
  apps/web/src/core/config/panelConfigs/db.ts
  apps/web/src/core/config/panelConfigs/endpoint.ts
  apps/web/src/core/config/panelConfigs/hook.ts
  apps/web/src/core/config/panelConfigs/index.ts
  apps/web/src/core/config/panelConfigs/job.ts
  apps/web/src/core/config/panelConfigs/notion.ts
  apps/web/src/core/config/panelConfigs/panel-configs.ts
  apps/web/src/core/config/panelConfigs/person-batch-job.ts
  apps/web/src/core/config/panelConfigs/person-job.ts
  apps/web/src/core/config/panelConfigs/person.ts
  apps/web/src/core/config/panelConfigs/start.ts
  apps/web/src/core/config/panelConfigs/user-response.ts
  apps/web/src/core/config/unifiedConfig.ts
  apps/web/src/core/services/ConversionService.ts
  apps/web/src/core/store/helpers/computedGetters.ts
  apps/web/src/core/store/unifiedStore.ts
  apps/web/src/core/store/unifiedStore.types.ts
  apps/web/src/core/types/core.ts
  apps/web/src/core/types/type-factories.ts
  apps/web/src/features/diagram-editor/adapters/DiagramAdapter.ts
  apps/web/src/features/diagram-editor/hooks/useDiagramLoader.ts
  apps/web/src/features/diagram-editor/store/diagramSlice.ts
  apps/web/src/features/diagram-editor/types/panel.ts
  apps/web/src/features/person-management/store/personSlice.ts
  apps/web/src/shared/utils/diagramSerializer.ts
  dipeo/application/engine/execution_engine.py
  dipeo/application/unified_service_registry.py
  dipeo/container/adapters/app_context_adapter.py
  dipeo/container/container.py
Due: pnpm-lint

beta v4
  .gitignore
  apps/web/src/core/store/helpers/entityHelpers.ts
  apps/web/src/core/types/branded.ts
  apps/web/src/core/types/conversation.ts
  apps/web/src/core/types/core.ts
  apps/web/src/core/types/domain.ts
  apps/web/src/core/types/guards.ts
  apps/web/src/core/types/index.ts
  apps/web/src/core/types/panel.ts
  apps/web/src/core/types/type-factories.ts
  apps/web/src/core/types/utilities.ts
  apps/web/src/features/conversation/components/ConversationDashboard/ConversationDashboard.tsx
  apps/web/src/features/conversation/components/MessageList/MessageList.tsx
  apps/web/src/features/conversation/hooks/useConversationData.ts
  apps/web/src/features/execution-monitor/components/ExecutionControls.tsx
  apps/web/src/features/execution-monitor/hooks/useMonitorMode.ts
  apps/web/src/features/execution-monitor/types/message.ts
  apps/web/src/features/person-management/store/index.ts
  apps/web/src/features/person-management/store/personSlice.ts
  apps/web/src/features/properties-editor/components/PropertyPanel.tsx
  apps/web/src/graphql/types/graphql-mappings.ts
Due: pnpm-lint

beta v4
  apps/web/IMPORT_RULES.md
  apps/web/src/features/conversation/components/ConversationDashboard/ConversationDashboard.tsx
  apps/web/src/features/conversation/index.ts
  apps/web/src/features/diagram-editor/adapters/DiagramAdapter.ts
  apps/web/src/features/diagram-editor/components/DiagramFileManager.tsx
  apps/web/src/features/diagram-editor/components/DiagramFileModal.tsx
  apps/web/src/features/diagram-editor/components/file-operations/FileOperations.tsx
  apps/web/src/features/diagram-editor/components/nodes/BaseNode.tsx
  apps/web/src/features/diagram-editor/components/sidebar/DiagramSidebar.tsx
  apps/web/src/features/diagram-editor/index.ts
  apps/web/src/features/execution-monitor/components/ExecutionControls.tsx
  apps/web/src/features/execution-monitor/components/ExecutionOrderView/ExecutionOrderView.tsx
  apps/web/src/features/execution-monitor/components/InteractivePromptModal.tsx
  apps/web/src/features/execution-monitor/index.ts
  apps/web/src/features/person-management/index.ts
  apps/web/src/features/properties-editor/components/PromptFileButton.tsx
  apps/web/src/features/properties-editor/components/PromptFilePicker.tsx
  apps/web/src/features/properties-editor/components/PropertiesTab.tsx
  apps/web/src/features/properties-editor/components/fields/UnifiedFormField.tsx
  apps/web/src/features/properties-editor/index.ts
  apps/web/src/shared/components/feedback/ApiKeysModal/ApiKeysModal.tsx
  apps/web/src/shared/components/feedback/LazyModals.tsx
  apps/web/src/shared/components/forms/buttons/FileUploadButton.tsx
  apps/web/src/shared/components/layout/TopBar.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  eslint.config.js
Due: pnpm-lint

beta v4
  analysis.md
  apps/cli/src/dipeo_cli/local_context.py
  apps/server/src/dipeo_server/application/app_context.py
  apps/server/src/dipeo_server/application/container.py
  dipeo/application/handlers/api_job.py
  dipeo/container/adapters/app_context_adapter.py
  dipeo/container/container.py
  dipeo/domain/services/REORGANIZATION_SUMMARY.md
  dipeo/domain/services/api/__init__.py
  dipeo/domain/services/api/api_domain_service.py
  dipeo/domain/services/api/service.py
  dipeo/domain/services/conversation/__init__.py
  dipeo/domain/services/file/__init__.py
  dipeo/domain/services/file/file_domain_service.py
  dipeo/domain/services/file/service.py
  dipeo/infra/services/file/file_operations_service.py
  docs/refactoring_summary.md
  tests/test_phase3_refactoring.py
Due: none

beta v4
  apps/cli/src/dipeo_cli/execution_handler.py
  apps/cli/src/dipeo_cli/execution_options.py
  apps/cli/src/dipeo_cli/hooks.py
  apps/cli/src/dipeo_cli/local_context.py
  apps/cli/src/dipeo_cli/logging_config.py
  apps/cli/src/dipeo_cli/runners/local_runner.py
  apps/cli/src/dipeo_cli/runners/server_runner.py
  apps/cli/src/dipeo_cli/server_manager.py
  apps/cli/src/dipeo_cli/stats.py
  apps/cli/src/dipeo_cli/utils.py
  apps/cli/tests/test_hooks.py
  apps/server/src/dipeo_server/api/graphql/context.py
  apps/server/src/dipeo_server/api/graphql/mutations/person_mutation.py
  apps/server/src/dipeo_server/api/graphql/mutations/upload_mutation.py
  apps/server/src/dipeo_server/api/graphql/resolvers/diagram.py
  apps/server/src/dipeo_server/api/graphql/resolvers/person.py
  apps/server/src/dipeo_server/api/graphql/schema.py
  apps/server/src/dipeo_server/api/graphql/subscriptions.py
  apps/server/src/dipeo_server/api/graphql/types.py
  apps/server/src/dipeo_server/application/app_context.py
  apps/server/src/dipeo_server/application/container.py
  apps/server/src/dipeo_server/infra/persistence/state_registry.py
  dipeo/application/execution/handler_factory.py
  dipeo/application/handlers/api_job.py
  dipeo/application/handlers/code_job.py
  dipeo/application/handlers/condition.py
  dipeo/application/handlers/db.py
  dipeo/application/handlers/endpoint.py
  dipeo/application/handlers/hook.py
  dipeo/application/handlers/job.py
  dipeo/application/handlers/notion.py
  dipeo/application/handlers/person_batch_job.py
  dipeo/application/handlers/person_job.py
  dipeo/application/handlers/start.py
  dipeo/application/handlers/user_response.py
  dipeo/application/unified_service_registry.py
Due: none

beta v4
  apps/cli/src/dipeo_cli/local_context.py
  apps/server/src/dipeo_server/api/graphql/context.py
  apps/server/src/dipeo_server/api/graphql/resolvers/diagram.py
  apps/server/src/dipeo_server/application/app_context.py
  apps/server/src/dipeo_server/application/container.py
  dipeo/__init__.py
  dipeo/application/execution/server_execution_service.py
  dipeo/application/handlers/person_batch_job.py
  dipeo/application/services/minimal_state_store.py
  dipeo/container/container.py
  dipeo/core/__init__.py
  dipeo/core/base/__init__.py
  dipeo/core/base/protocols.py
  dipeo/core/ports/__init__.py
  dipeo/core/ports/message_router.py
  dipeo/core/ports/state_store.py
  dipeo/domain/services/db/service.py
  dipeo/domain/services/diagram/__init__.py
  dipeo/domain/services/diagram/storage_adapter.py
  dipeo/domain/services/diagram/storage_service.py
  dipeo/domain/services/execution/preparation_service.py
  dipeo/domain/services/person_job/__init__.py
  dipeo/domain/services/person_job/execution_service.py
  dipeo/domain/services/person_job/orchestrator.py
  dipeo/infra/__init__.py
  dipeo/infra/adapters/notion/service.py
  dipeo/infra/persistence/__init__.py
  dipeo/infra/persistence/diagram/__init__.py
  dipeo/infra/persistence/diagram/storage_adapter.py
  dipeo/infra/persistence/file/__init__.py
  dipeo/infra/persistence/file/file_repository.py
  dipeo/infra/persistence/file/modular_file_service.py
  dipeo/infra/persistence/memory/__init__.py
Due: none

beta v4
  apps/server/src/dipeo_server/api/graphql/context.py
  apps/server/src/dipeo_server/application/container.py
  dipeo/PORTS.md
  dipeo/container/domain_container.py
  dipeo/container/infrastructure_container.py
  dipeo/core/ports/__init__.py
  dipeo/core/ports/diagram_loader.py
  dipeo/core/ports/execution_context.py
  dipeo/core/ports/flow_control.py
  dipeo/core/ports/node_execution.py
  dipeo/domain/services/apikey/service.py
  dipeo/domain/services/conversation/template_processor.py
  dipeo/domain/services/execution/preparation_service.py
  dipeo/domain/services/integration/data_transformer.py
  dipeo/infra/__init__.py
  dipeo/infra/adapters/__init__.py
  dipeo/infra/adapters/apikey/__init__.py
  dipeo/infra/adapters/apikey/environment_adapter.py
  dipeo/infra/adapters/llm/__init__.py
  dipeo/infra/adapters/llm/adapters/__init__.py
  dipeo/infra/adapters/llm/adapters/claude.py
  dipeo/infra/adapters/llm/adapters/gemini.py
  dipeo/infra/adapters/llm/adapters/openai.py
  dipeo/infra/adapters/llm/base.py
  dipeo/infra/adapters/llm/factory.py
  dipeo/infra/adapters/llm/service.py
  dipeo/infra/http/__init__.py
  dipeo/infra/http/api_client.py
Due: none

beta v4
  dipeo/application/state/__init__.py
  dipeo/application/strategies/__init__.py
  dipeo/core/application/__init__.py
  dipeo/core/application/context/__init__.py
  dipeo/core/application/context/execution_context.py
  dipeo/core/application/services/__init__.py
  dipeo/core/application/services/diagram_loader.py
  dipeo/core/domain/__init__.py
  dipeo/core/domain/services/__init__.py
  dipeo/core/domain/services/flow_control.py
  dipeo/core/domain/services/node_execution.py
  dipeo/core/dynamic/__init__.py
  dipeo/core/dynamic/conversation.py
  dipeo/core/dynamic/person.py
  dipeo/core/ports/apikey_storage.py
  dipeo/core/static/__init__.py
  dipeo/core/static/executable_diagram.py
  dipeo/core/static/nodes.py
  dipeo/infra/config/__init__.py
  dipeo/infra/llm/__init__.py
  dipeo/infra/llm/adapters/__init__.py
  dipeo/infra/llm/adapters/claude.py
  dipeo/infra/llm/adapters/gemini.py
  dipeo/infra/llm/adapters/openai.py
  dipeo/infra/llm/base.py
  dipeo/infra/llm/factory.py
  dipeo/infra/llm/service.py
  dipeo/infra/persistence/keys/__init__.py
  dipeo/infra/persistence/keys/environment_service.py
  dipeo/infra/persistence/keys/key_manager.py
  dipeo/utils/__init__.py
  dipeo/utils/arrow/__init__.py
  dipeo/utils/prompt/__init__.py
  dipeo/utils/template/__init__.py
  dipeo/utils/template/processor.py
  dipeo/utils/transform/__init__.py
  dipeo/utils/transform/data.py
  dipeo/utils/validation/__init__.py
Due: none

Replace ApplicationExecutionContext service registry with direct container access
  dipeo/application/execution/context/application_execution_context.py
  dipeo/core/ports/apikey_port.py
  dipeo/core/ports/diagram_port.py
  dipeo/core/ports/file_repository.py
  dipeo/domain/services/apikey/__init__.py
  dipeo/domain/services/apikey/service.py
  dipeo/domain/services/apikey/validators.py
  dipeo/domain/services/conversation/__init__.py
  dipeo/domain/services/conversation/on_every_turn_handler.py
  dipeo/domain/services/conversation/simple_service.py
  dipeo/domain/services/conversation/state_manager.py
  dipeo/domain/services/diagram/__init__.py
  dipeo/domain/services/diagram/domain_service.py
  dipeo/domain/services/llm/__init__.py
  dipeo/domain/services/llm/executor.py
  dipeo/infra/diagram/__init__.py
  docs/refactoring_summary.md
  docs/types.md
Due: none

Path conditions:
  pnpm-lint: any of: \.(ts|tsx|js|jsx)$
  domain-model-codegen: any of: ^packages/domain-models/src/.*\.ts$
